
@import "/styles/style.css";

.mainFxmlClass {
    -fx-alignment: center;
    -fx-background-color: -exvi-base-light;
}

.outerPane {
    -fx-alignment: center;
    -fx-border-color: -exvi-accent-light;
    -fx-border-width: 0.5em;
}

.outerGrid {
    -fx-alignment: center;
    -fx-padding: 2em;
}

.button {
    -fx-max-width: 20em;
}