
* {

}

.text {
    -fx-font-family: "monospace";
}

.label {
    -fx-font-family: "monospace";
}

.h1 {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-size: 200%;
    -fx-padding: 1em;
}
.h2 {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-padding: 0.6em;
    -fx-font-size: 160%;
}
.h3 {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-padding: 0.5em;
    -fx-font-size: 140%;
}