/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 29, 2022, 6:56:56 PM
    Author     : callum
*/

* {
    -exvi-white: #ffffff;
    -exvi-black: #000000;

    -exvi-gray: #B5B8BA;
    -exvi-gray-light: #CACCCE;
    -exvi-gray-dark: #6d7174;

    -exvi-base: #FFF8C2;
    -exvi-base-light: #FFFDEB;
    -exvi-base-dark: #FFF399;
    -exvi-base-gray: #cecdbd;

    -exvi-accent: #D64933;
    -exvi-accent-light: #DD6755;
    -exvi-accent-dark: #BB3925;
    -exvi-accent-gray: #c0938d;

    -exvi-contrast: #1E2D24;
    -exvi-contrast-light: #31493b;
    -exvi-contrast-dark: #101814;
    -exvi-contrast-gray: #6a736f;
}

.button {
    -fx-border-radius: 0.4em;
    -fx-background-radius: 0.4em;
    -fx-background-insets: 0.1em;
    -fx-border-insets: -0.2em;
    -fx-alignment: center;
    -fx-border-style: hidden;
}
.button:focused {
    -fx-border-width: 0.2em;
    -fx-border-style: solid;
}

.base {
    -fx-text-fill: -exvi-black;
    -fx-background-color: -exvi-base-light;
    -fx-border-color: -exvi-base;
    -fx-highlight-fill: -exvi-contrast;
    -fx-highlight-text-fill: -exvi-base;
}
.base:hover {
    -fx-background-color: -exvi-base;
}
.base:disabled {
    -fx-background-color: -exvi-base-gray;
}
.base:pressed {
    -fx-background-color: -exvi-base-dark;
}

.accent {
    -fx-background-color: -exvi-accent-light;
    -fx-text-fill: -exvi-white;
    -fx-border-color: -exvi-accent;
    -fx-highlight-fill: -exvi-base;
    -fx-highlight-text-fill: -exvi-accent;
}
.accent:hover {
    -fx-background-color: -exvi-accent;
}
.accent:disabled {
    -fx-background-color: -exvi-accent-gray;
}
.accent:pressed {
    -fx-background-color: -exvi-accent-dark;
}

.contrast {
    -fx-text-fill: -exvi-white;
    -fx-background-color: -exvi-contrast-light;
    -fx-border-color: -exvi-contrast;
    -fx-highlight-fill: -exvi-base;
    -fx-hightlight-text-fill: -exvi-contrast;
}
.contrast:hover {
    -fx-background-color: -exvi-contrast;
}
.contrast:disabled {
    -fx-background-color: -exvi-contrast-gray;
}
.contrast:pressed {
    -fx-background-color: -exvi-contrast-dark;
}

.text {
    -fx-font-family: "monspace";
}

.h1 {
    -fx-alignment: center;
    -fx-font-size: 200%;
    -fx-padding: 1em;
}